language: python
python: 3.5
env:
  - TOX_ENV=py27-19
  - TOX_ENV=py34-19
  - TOX_ENV=py35-19
install:
  - pip install tox
services:
  - postgresql
before_script:
  - psql -U postgres -c "create extension postgis"
script:
  - tox -e $TOX_ENV
sudo: false